---
import type { Heading } from '../interfaces';
export interface Props {
  title: string;
  headings?: Array<Heading>;
}

import Base from './Base.astro';
import LeftSidebar from '../components/UI/LeftSidebar.vue';
import RightSidebar from '../components/UI/RightSidebar.astro';

const { title, headings = [] } = Astro.props;
const currentPage = new URL(Astro.request.url).pathname;
---

<Base title={title}>
  <div class='flex h-screen w-full overflow-hidden'>
    <div
      class='w-full max-w-[280px] border-r dark:border-neutral-700 sticky top-0 h-screen overflow-y-scroll hide-scrollbar'>
      <LeftSidebar client:load currentPage={currentPage} />
    </div>
    <main class='flex-grow h-screen overflow-y-scroll py-12'>
      <article
        class='prose prose-sm prose-slate dark:prose-invert prose-p:font-normal prose-headings:font-sans prose-headings:font-normal prose-a:no-underline prose-a:text-primary-600 dark:prose-a:text-primary-300 max-w-screen-sm mx-auto'>
        <slot />
      </article>
    </main>
    <aside
      class='w-full max-w-[250px] py-12 h-screen overflow-y-scroll hide-scrollbar'>
      <RightSidebar headers={headings} />
    </aside>
  </div>
</Base>
