---
export interface Props {
  title: string;
}

import Base from './Base.astro';
import Header from '../components/UI/Header.astro';

const { title } = Astro.props;
const currentPage = new URL(Astro.request.url).pathname;
---

<Base title={title}>
  <div class='sticky top-0 z-10 w-full'>
    <Header currentPage={currentPage} />
  </div>
  <main class='py-24'>
    <slot />
  </main>
</Base>
