---
import type { Heading } from '../interfaces';
export interface Props {
  title: string;
  headings?: Array<Heading>;
}

import Base from './Base.astro';
import Header from '../components/UI/Header.astro';
import LeftSidebar from '../components/UI/LeftSidebar.astro';
import RightSidebar from '../components/UI/RightSidebar.astro';

const { title, headings = [] } = Astro.props;
const currentPage = new URL(Astro.request.url).pathname;
---

<Base title={title}>
  <div class='sticky top-0 z-10 w-full'>
    <Header currentPage={currentPage} />
  </div>
  <div class='grid grid-cols-12'>
    <div class='col-span-3 sticky top-0 pt-12 h-screen flex'>
      <div class='ml-auto h-full overflow-y-scroll pb-12'>
        <LeftSidebar currentPage={currentPage} />
      </div>
    </div>
    <main class='py-4 px-8 pb-32 col-span-6 overflow-auto'>
      <article class='content'>
        <section class='main-section'>
          <slot />
        </section>
      </article>
    </main>
    <div class='col-span-3 sticky top-0 h-screen flex'>
      <RightSidebar headers={headings} />
    </div>
  </div>
</Base>
