---
import { BLUR } from '../../../design.config';
---

<div class='inline-grid grid-cols-2 gap-16'>
  {
    BLUR.map(({ name, value }) => (
      <div
        data-ctc={name}
        data-tooltip='Copy class'
        data-position='top'
        class='relative ctc w-48 h-48 tooltip cursor-pointer'>
        <div class="bg-[url('/blur.jpg')] bg-center bg-no-repeat rounded absolute top-0 left-0 right-0 bottom-0 z-0" />
        <div
          style={`backdrop-filter: blur(${value})`}
          class=' text-neutral-50 text-right absolute rounded top-0 left-0 right-0 bottom-0 z-10 flex items-center justify-center'>
          <p class='!text-white'>{'blur-' + name}</p>
        </div>
      </div>
    ))
  }
</div>

<script>
  let textStyles = document.querySelectorAll('.ctc');

  textStyles.forEach((textStyle) => {
    textStyle.addEventListener('click', () => {
      //   console.log(`blur-${textStyle.dataset.ctc}`);
      // @ts-ignore
      copyCode(`blur-${textStyle.dataset.ctc}`);
      // @ts-ignore
      textStyle.dataset.tooltip = 'Copied!';
      setTimeout(() => {
        // @ts-ignore
        textStyle.dataset.tooltip = 'Copy class';
      }, 1000);
    });
  });

  async function copyCode(text: string) {
    await navigator.clipboard.writeText(text ?? '');
  }
</script>
