---
const { id = '0' } = Astro.props;
---

<div class='bg-zinc-100 border-zinc-200 border rounded-md overflow-hidden not-prose mt-4'>
  <!-- <nav class='tabs bg-inherit'>
      <button data-tab={id + '-1'} class='!w-24 !h-12 active'> HTML</button>
      <button data-tab={id + '-2'} class='!w-24 !h-12'> JSX</button>
      <button data-tab={id + '-3'} class='!w-24 !h-12'> Vue</button>
    </nav> -->
  <div class='relative'>
    <slot />
  </div>
  <!-- <div class='relative' style='display:none;' data-tabItem={id + '-2'}>
      <slot name='jsx' />
    </div>
    <div class='relative' style='display:none;' data-tabItem={id + '-3'}>
      <slot name='vue' />
    </div> -->
</div>

<script>
  let blocks = document.querySelectorAll('pre');

  blocks.forEach((block) => {
    // only add button if browser supports Clipboard API
    if (navigator.clipboard) {
      let button = document.createElement('button');
      let icon = document.createElement('img');
      button.classList.add('copy-code-button');
      block.appendChild(button);
      button.appendChild(icon);
      icon.src = '/copy.svg';
      icon.classList.add('icon');
      icon.classList.add('!m-0');

      button.addEventListener('click', async () => {
        await copyCode(block, button);
      });
    }
  });

  async function copyCode(block: HTMLPreElement, button: HTMLButtonElement) {
    let code = block.querySelector('code');
    let text = code?.innerText;

    await navigator.clipboard.writeText(text ?? '');
  }
</script>
