---
export interface Props {
  image: string;
  title: string;
  link: string;
}

const { image, title, link } = Astro.props;
---

<a
  target='_blank'
  href={link}
  class='p-6 rounded-lg block bg-opacity-50 bg-zinc-100 hover:outline outline-1 outline-zinc-300 w-max'
>
  <img src={image} alt={title} width='100px' class="" />
</a>
