---
import { SHADOWS } from '../../../design.config';
---

<div class='component-preview'>
  <div class='inline-grid grid-cols-2 gap-16'>
    {
      SHADOWS.types.map(({ name, value }) =>
        name.split('-')[0] != 'dark' ? (
          <div
            data-ctc={name}
            data-tooltip='Copy class'
            data-position='top'
            class='ctc tooltip p-2 cursor-pointer bg-white rounded-md text-slate-500 text-right pt-24 pl-16 font-mono'
            style={'box-shadow: ' + value}>
            {'shadow-' + name}
          </div>
        ) : null
      )
    }
  </div>
</div>
<div class='component-preview dark'>
  <div class='inline-grid grid-cols-2 gap-16'>
    {
      SHADOWS.types.map(({ name, value }) =>
        name.split('-')[0] == 'dark' ? (
          <div
            data-ctc={name}
            data-tooltip='Copy class'
            data-position='top'
            class='ctc p-2 tooltip cursor-pointer bg-white rounded-md text-slate-500 text-right pt-24 pl-16 font-mono'
            style={'box-shadow: ' + value}>
            {'shadow-' + name}
          </div>
        ) : null
      )
    }
  </div>
</div>

<script>
  let textStyles = document.querySelectorAll('.ctc');

  textStyles.forEach((textStyle) => {
    textStyle.addEventListener('click', () => {
      //   console.log(`shadow-${textStyle.dataset.ctc}`);
      // @ts-ignore
      copyCode(`shadow-${textStyle.dataset.ctc}`);
      // @ts-ignore
      textStyle.dataset.tooltip = 'Copied!';
      setTimeout(() => {
        // @ts-ignore
        textStyle.dataset.tooltip = 'Copy class';
      }, 1000);
    });
  });

  async function copyCode(text: string) {
    await navigator.clipboard.writeText(text ?? '');
  }
</script>
