---
import MainLayout from '../../../layouts/Layout.astro';
import { COLORS } from '../../../../design.config';
import MainColors from '../../../components/MainColors.vue';
---

<MainLayout title="colors">
  <h1>Colors</h1>
  <MainColors />
</MainLayout>
