---
import { SITE } from '../../config';
// import SkipToContent from './SkipToContent.astro';
import {IconBrandGithubFilled, IconBrandTwitterFilled} from '@tabler/icons-vue';

const { currentPage } = Astro.props;
const version = SITE.docsVersion || 'v1.0.0';
---

<header class="py-1 px-3 bg-neutral-100 bg-opacity-50 backdrop-blur-md border-b text-neutral-700">
	<!-- <SkipToContent /> -->
	<nav title="Top Navigation" class="max-w-7xl mx-auto flex justify-between items-center px-4">
		<div class="flex items-center gap-4">
			<a class="font-medium flex items-center gap-4" href="/">
				<img src='/logo.svg' class="w-4 h-4 invert" alt='Cabana Design System Logo' />
				Cabana UI
			</a>
			<div class='chip chip-rounded chip-bordered text-body-xs'>
				<span>{version}</span>
			</div>
		</div>
		<div class="flex gap-2 items-center">
		<ul class="menu">
			{ SITE.nav.map(({title, link}) => {
				return (
					<li>
						<a class={currentPage === title ? 'active ' : ''} href={link}>{title}</a>
					</li>
				)
			}) }
		</ul>
		{ SITE.twitter &&
			(<a title="Twitter" class="opacity-90 hover:opacity-100 transition-colors" href={'https://twitter.com/'+SITE.twitter}>
				<IconBrandGithubFilled class="h-4 text-neutral-600"/>
			</a>)
		}
		{
			SITE.github &&
			(<a title="Github" class="opacity-80 hover:opacity-100 transition-colors" href={'https://github.com/'+SITE.github}>
				<IconBrandTwitterFilled class="h-4 text-neutral-600"/>
			</a>)
		}
		</div>
	</nav>
</header>
