---
import TableOfContents from './TableOfContents.astro';
const { headers } = Astro.props;


---

<nav aria-labelledby="grid-right">
	<div class="px-8">
		<TableOfContents headers={headers} />
	</div>
</nav>