@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  font-family: Inter, sans-serif;
  @apply text-neutral-700 bg-neutral-50;
}

h1 {
  @apply text-headline-lg font-semibold mb-5;
}

h2 {
  @apply text-headline font-semibold mb-4;
}

h3 {
  @apply text-headline-sm font-semibold mb-3; */
/* } */
/* 
.main-section > h1 {
  @apply text-headline-lg font-semibold;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @apply leading-[150%];
}

.component-preview {
  /* padding: 4rem 2rem; */
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23818181' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"); */
  background-image: url('/preview-bg.svg');
  background-repeat: repeat;
  background-size: 0.5rem;
  resize: both;
  @apply bg-neutral-50 dark:bg-neutral-950 w-full mb-4 rounded border dark:border-neutral-700 border-neutral-300 min-h-[220px];
}

pre.astro-code {
  @apply m-0 p-2  font-mono text-sm min-h-[220px];
}

code {
  font-family: 'IBM Plex Mono', ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, 'Liberation Mono', 'Courier New', monospace;
}

.copy-code-button {
  @apply btn btn-outline border p-2 border-zinc-300 hover:bg-zinc-200 hover:bg-opacity-20  font-sans top-4 right-4 absolute;
}

/* For Webkit browsers like Chrome, Safari */
::-webkit-scrollbar {
  width: 8px; /* Width of the vertical scrollbar */
  height: 8px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-track {
  @apply bg-neutral-50 dark:bg-neutral-900; /* Color of the tracking area */
}

::-webkit-scrollbar-thumb {
  @apply bg-neutral-100 dark:bg-neutral-800; /* Color of the scroll thumb */
  border-radius: 8px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-200 dark:bg-neutral-700 /* Color of the handle on hover */;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.hide-scrollbar::-webkit-scrollbar {
  /* For Webkit browsers like Chrome, Safari */
  width: 0 !important;
  height: 0 !important;
  display: none !important; /* Optional */
}

/* For Firefox */
.hide-scrollbar {
  scrollbar-width: none !important;
}

/* For Internet Explorer and Edge */
.hide-scrollbar {
  -ms-overflow-style: none !important;
}

@layer base {
  table {
    @apply w-full rounded overflow-hidden;
  }
  thead {
    @apply bg-neutral-200 dark:bg-neutral-800 border dark:!border-neutral-800 !border-neutral-200  !rounded !overflow-hidden text-label;
    & > tr {
      @apply !border-none !p-8 !rounded !overflow-hidden;
      & > th {
        @apply !border-none !p-2;
      }
    }
  }
  tbody {
    @apply bg-transparent !rounded !overflow-hidden text-label-sm dark:text-neutral-400 text-neutral-600;
    & > tr {
      @apply !p-8 !rounded !overflow-hidden dark:!border-neutral-800 !border-neutral-200 !border;
      & > td {
        @apply !border-none !p-4;
      }
    }
  }
}
@layer components {
  .mdx {
    @apply prose prose-sm prose-neutral;
    @apply prose-p:font-normal prose-p:text-neutral-800 dark:prose-p:text-neutral-300;
    @apply prose-headings:font-sans prose-headings:font-normal dark:prose-headings:text-neutral-50 prose-headings:text-neutral-950;
    @apply prose-a:no-underline prose-a:text-primary-600 dark:prose-a:text-primary-300 hover:prose-a:text-primary-700 dark:hover:prose-a:text-primary-200;
    @apply prose-code:font-mono prose-code:bg-neutral-50 prose-code:bg-opacity-20 prose-code:rounded prose-code:dark:bg-neutral-900 prose-code:dark:bg-opacity-20 prose-code:dark:rounded prose-code:dark:text-neutral-50 prose-code:text-neutral-950;
    @apply prose-li:font-normal prose-li:text-neutral-800 dark:prose-li:text-neutral-300;
    @apply max-w-screen-sm mx-auto w-full;
  }
}
