---
import TableOfContents from './TableOfContents.astro';
import type { Heading } from '../../interfaces';
export interface Props {
  headers: Array<Heading>;
}
const { headers } = Astro.props;
---

<nav aria-labelledby='grid-right'>
  <div class='px-8'>
    <p class='text-neutral-500'>Everything on this page</p>
    <TableOfContents headers={headers} />
  </div>
</nav>
