---
import type { Heading } from '../../interfaces';

export interface Props {
  headers: Array<Heading>;
}

const { headers } = Astro.props;
---

<ul class='list flex flex-col gap-1 py-2'>
  {
    headers.map(({ slug, text, depth }) => {
      return depth > 1 ? (
        <li id={slug} class='!text-body-sm pl-2  dark:text-slate-400'>
          <a class=' text-neutral-500 hover:text-neutral-300' href={`#${slug}`}>
            #{text}
          </a>
        </li>
      ) : null;
    })
  }
</ul>
